<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2012-2013  Dušan Vejnovič  <vaadin@dussan.org>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>dCharts</display-name>
	<context-param>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>dCharts Application</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.dussan.vaadin.dcharts.DChartsApplication</param-value>
		</init-param>
		<init-param>
			<description>
			Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>org.dussan.vaadin.dcharts.DchartsWidgetset</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dCharts Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
